.bg {
  background: url("../img/bg.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.bg-alt {
  background: url("../img/bg-alt.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.bg-test {
  background: url("../img/bg-alt.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.bg-email{
  background: url("../img/bg-server.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  color:white;
}

.custom-btn {
  background-color: #00ccff;
  border: solid;
  border-radius: 1px;
  border-color: #00ccff;
  color: white;
  display: inline-block;
  border-radius: 0;
  font-family: 'Inconsolata', monospace;
  font-size: 1rem;
  font-weight: bold;
}

.custom-btn:hover {
  border: solid;
  border-radius: 1px;
  border-color: black;
  color: white;
  background-color: rgba(0, 0, 0, 0);
}

.custom-btn2:hover {
  color: black;
}

.img-thumb {
  border-radius: 0;
  border: none;
}

.speech-bubble {
  position: relative;
  background: #ffffff;
}

.speech-bubble:after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 0;
  height: 0;
  border: 20px solid transparent;
  border-top-color: #ffffff;
  border-bottom: 0;
  margin-left: -20px;
  margin-bottom: -20px;
}

.opa-7 {
  opacity: 0.7;
}

.footer {
  border-bottom-style: solid;
  border-width: 1px;
  border-color: grey;
  padding-bottom: 5%;
  padding-top: 3%;
}

#nav-logo {
  font-family: 'Lato', sans-serif;
}

#top-row {
  padding-top: 0.1%;
  color: white;
  margin-right: 0.7%;
}

a {
  color: #00ccff;
}

a:hover {
  color: #00ccff;
  text-decoration: none;
}

h5 {
  font-family: 'Lato', sans-serif;
}

p {
  font-family: 'Roboto', sans-serif;
}

.email {
  border: solid;
  border-width: 1px;
  border-color: rgba(1, 1, 1, 1);
}

.email:hover {
  border: solid;
  border-width: 1px;
  border-color: #00ccff;
}
